body {
    display: grid;
    grid-template-rows: 50px 300px 50px;
    grid-template-columns: 1fr;
    gap: 20px;
}

header, main, footer {
    border: 5px;
    border-color: red;
    border-style: groove;

}

h3 {
    margin-top: 10px;
    margin-left: 10px;
}